.listItem{
    height: 12px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 5% auto 10%;
}
#listItemsContainer{
    width: 540px;
    margin-left: 60px;
}
#listItemsContainer button{
    height: 25px;
    width: 100px;
    background-color: #FF5F15;
}