.listItem{
    height: 20px;
    margin-top: 25px;
    display: grid;
    align-items: center;
    grid-template-columns: 5% auto 10%;
}
#listItemsContainer{
    width: 540px;
    margin-left: 60px;
}
#listItemsContainer button{
    height: 25px;
    width: 100px;
    background-color: #FF5F15;
}
#listItemsContainer .unchecked{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
#listItemsContainer .checked{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-decoration: line-through;
    font-style: italic;
    color: #FF5F15;
}